<div class="flex flex-col justify-start">
  <% if(theme.index.avatar.enable) { %>
    <img class="w-20 border-2 border-text rounded-full" src="<%= theme.index.avatar.path %>" alt="avatar">
  <% } %>
    <h2 class="my-3 text-lg font-semibold">
      <%= theme.index.introduction.title %>
    </h2>
    <div id="content" class="markdown" data-content="<%= theme.index.introduction.content %>"></div>
</div>
