<% page.layout = 'index' %>
<div class="flex flex-col justify-start md:w-[65ch]">
  <% if(theme.avatar.enable) { %>
    <img class="w-20 mb-6 border-2 border-text rounded-full" src="<%= theme.avatar.path %>" alt="avatar">
  <% } %>
  <% site.pages.each((page) => { %>
    <% if(page.title === 'index') { %>
      <article id="content" class="prose articleLink" data-content="<%= page.content %>"></article>
    <% }%>
  <% }) %>
</div>
