<!DOCTYPE html>
<html lang="en">

<%- partial('_partials/head') %>

  <body class="latte flex flex-col h-full text-text bg-base">
    <!-- 头部 -->
    <%- partial('_partials/header') %>

      <main class="grow px-6">
        <%- body %>
      </main>

      <!-- 底部 -->
      <%- partial('_partials/footer') %>
  </body>

</html>