<!DOCTYPE html>
<html lang="en">

<%- partial('_partials/head') %>

  <body class="latte">
    <!-- 头部 -->
    <%- partial('_partials/header') %>

      <main>
        <%- body %>
      </main>

  </body>

</html>