<article class="markdown">
  <div>
    <h1>
      <%= page.title %>
    </h1>
  </div>
  <div class="my-2 text-overlay1 text-sm">
    <span><%- date(page.date, "MM DD, YYYY" ) %></span>
  </div>
  <div>
    <%- page.content %>
  </div>
</article>

<!-- 脚本 -->
<%- js('/js/article.js') %>