<% let license=theme.footer.copyright.license %>
  <footer class="flex justify-center items-center gap-x-2 py-4 text-overlay1 text-sm">
    <a class="underline underline-offset-4 decoration-surface1 hover:decoration-overlay1"
      href="https://creativecommons.org/licenses/<%= license.toLowerCase() %>/4.0/">CC <%= license %> 4.0</a>
    <%= theme.footer.start_year %>-PRESENT
      <span class="text-sm icon-[charm--copyright]">copyright</span>
      <%= config.author %>
  </footer>