<footer class="flex justify-center items-center gap-x-2 py-4 text-overlay1 text-sm">
  <a class="underline underline-offset-4 decoration-surface1 hover:decoration-overlay1"
    href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a>
  2023-PRESENT
  <span class="material-icons-round text-sm">copyright</span>
  <%= config.author %>
</footer>