<header>
  <!-- logo -->
  <h1>
    <a href="<%- url_for() %>">
      <%= config.author %>
    </a>
  </h1>
  <!-- 导航栏 -->
  <nav>
    <ul>
      <li>post</li>
      <li>about</li>
    </ul>
  </nav>
</header>