@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: DubtronicInline;
  src: url("../fonts/Dubtronic-Inline.woff2") format("woff2");
}

@font-face {
  font-family: DubtronicSolid;
  src: url("../fonts/Dubtronic-Solid.woff2") format("woff2");
}

html {
  @apply h-full
}

h1,h2,h3,h4,h5,h6,header,main,footer,div,span,hr,ul,li {
  @apply box-border
}

a {
  @apply transition duration-200 ease-in 
}

.rainbow-slashes {
  background-image: linear-gradient(135deg, rgb(var(--ctp-red)), rgb(var(--ctp-lavender)));
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}