@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: DubtronicInline;
  src: url("../fonts/Dubtronic-Inline.woff2") format("woff2");
}

@font-face {
  font-family: DubtronicSolid;
  src: url("../fonts/Dubtronic-Solid.woff2") format("woff2");
}

* {
  @apply scrollbar scrollbar-w-2 scrollbar-h-2 scrollbar-thumb-rounded-md scrollbar-thumb-surface0
}

html {
  @apply h-full
}

h1,h2,h3,h4,h5,h6,header,main,footer,div,span,hr,ul,li {
  @apply box-border
}

a {
  @apply transition duration-200 ease-in
}

.articleLink a {
  @apply !no-underline relative after:absolute after:bg-blue after:-bottom-1 after:left-0 after:h-[2px] after:w-full after:origin-bottom-right after:scale-x-0 hover:after:origin-bottom-left hover:after:scale-x-100 after:transition-transform after:ease-in-out after:duration-300
}

code.hljs {
  @apply !bg-transparent
}

.toc a {
  @apply !no-underline
}

.toc > .toc-item {
  @apply !pl-0
}

.toc .toc-item::marker {
  @apply !text-blue
}

.text-animation {
  @apply animate-text-shimmer bg-clip-text text-transparent bg-[linear-gradient(110deg,rgb(var(--ctp-mauve)),45%,rgb(var(--ctp-surface0)),55%,rgb(var(--ctp-mauve)))] bg-[length:250%_100%]
}
